services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_api
    env_file:
      - .env
    ports:
      - "${API_PORT:-8000}:${API_PORT:-8000}"
    environment:
      PYTHONPATH: /app
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      db:
        condition: service_healthy
    entrypoint: [ "/app/scripts/entrypoint.sh" ]
    command: /app/.venv/bin/python -m uvicorn src.main:app --host 0.0.0.0 --port ${API_PORT:-8000}

  tests:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_tests
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      db:
        condition: service_healthy
    entrypoint: [ "/app/scripts/entrypoint.sh" ]
    command: sh -c "alembic upgrade head && /app/.venv/bin/pytest"

  db:
    image: postgres:16-alpine
    container_name: auth_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
